*.conf
*.db
*.log
*.sqlite
*.txt
*.xml
*.db-journal
*.crt
*.key
*.pem
*.db-shm
*.db-wal
*.log.*
.HA_VERSION
known_devices.yaml
secrets.yaml
deps
html5_push_registrations.conf
www
tts
shortcuts
ip_bans.yaml
*.pid
*.xml
*.csr
*.crt
*.key
www
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
home-assistant_v*
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
*.conf
plex.conf
phue.conf
harmony_media_room.conf
pyozw.sqlite
.*
!/.gitignore
!/.travis.yml
html5_push_registrations.conf
ip_bans.yaml
/icloud/*
html5_push_registrations
entity_registry.yaml
emulated_hue_ids.json
emulated_hue_ids.json
configuration - Copy.yaml
/private/*
/custom_components/hacs/*
/.storage/lovelace
__pycache__/
/image/
ip_bans.yaml
/custom_components
SERVICE_ACCOUNT*.JSON
coordinator_backup.json
coordinator_backup_old.json
database.db.backup
zigbee2mqtt/
