*.conf
*.db
*.log
*.sqlite
*.txt
*.xml
*.db-journal
*.crt
*.key
*.pem
*.old
*.db-shm
*.db-wal
.HA_VERSION
known_devices.yaml
secrets.yaml
deps
html5_push_registrations.conf
www
tts
shortcuts
ip_bans.yaml
