#######################################
# Home-Assistant-Configuration
# https://github.com/genestealer/Home-Assistant-Configuration
# See Readme for info: https://github.com/genestealer/Home-Assistant-Configuration/blob/master/README.md
#######################################

############################################################
#
# Homeassistant Configuration
# https://www.home-assistant.io/integrations/homeassistant/
############################################################
homeassistant:
  # Customization file
  customize: !include customize.yaml
  # Note on auth_providers and packages https://www.home-assistant.io/docs/configuration/packages/#customizing-entities-with-packages
  packages: !include_dir_named packages/
  auth_providers:
    - type: homeassistant

############################################################
#
# Standard Configuration Elements
#
############################################################



# Enables the frontend
frontend:
  themes: !include_dir_merge_named themes

# https://github.com/thomasloven/hass-browser_mod
browser_mod:

# https://github.com/thomasloven/hass-lovelace_gen
lovelace_gen:

lovelace:
  mode: storage
  resources:
    #=== FONTS
    - url: https://fonts.googleapis.com/css?family=Oswald
      type: css
    - url: https://fonts.googleapis.com/css?family=Dosis
      type: css
  # Add yaml dashboards
  dashboards:
    lovelace-garden: #https://github.com/kloggy/HA-Irrigation-Version2/
      mode: yaml
      title: Garden
      icon: mdi:flower
      show_in_sidebar: true
      filename: myirrigation.yaml
# Enables configuration UI
config:

#Home Assistant Cloud - NOPE!
cloud:

# Enable web interface https://www.home-assistant.io/integrations/http
http:
  server_port: 8123
  cors_allowed_origins:
    - https://google.com
    - https://www.home-assistant.io
  use_x_forwarded_for: true
  trusted_proxies:
    - 10.0.0.200 # Add the IP address of the proxy server - Home Assistant Community Add-on: Nginx Proxy Manager
    - 172.30.33.0/24 # You may also provide the subnet mask - Home Assistant Community Add-on: Nginx Proxy Manager

  ip_ban_enabled: true
  login_attempts_threshold: 20

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time. (Cleared at startup)
history:

# Tracked history. Dependency of the history integration
recorder:
  purge_keep_days: 64
  exclude:
    # domains:
    #   - automation
    #   - updater
    entities:
      - sensor.date
      - sensor.time
      - sensor.date_time
      - sensor.date_time_utc
      - sensor.time_date
      - sensor.time_utc
      - sensor.date_time_iso
      - sensor.internet_time
    entity_globs: input_number.irrigation* #https://github.com/kloggy/HA-Irrigation-Version2/blob/master/Pre-Requisites.md

# View all events in a logbook. Depends on the recorder integration for storing the data.
logbook:
  exclude:
    entities:
      - sensor.date
      - sensor.time
      - sensor.date_time
      - sensor.date_time_utc
      - sensor.time_date
      - sensor.time_utc
      - sensor.date_time_iso
      - sensor.internet_time
      - sensor.server_server_power_on_time
      - sensor.cc_cpu_temperature
      - sensor.cc_cpu_load
    entity_globs:
      - sensor.adguard_*
      - sensor.*_last_seen
      - sensor.*_retries

# https://github.com/home-assistant/home-assistant/issues/1806
logger:
  default: error
  logs:
    requests.packages.urllib3.connectionpool: critical
    rflink.protocol: error #fatal
    homeassistant.components.sensor.plex: fatal
    urllib3.connectionpool: error
    homeassistant.components.recorder: fatal
    # axis: debug
    # homeassistant.components.axis: debug
    homeassistant.components.rest: debug

# System Health integration
system_health:

# Meta-component integration
default_config:

# My Home Assistant integration https://www.home-assistant.io/integrations/my
# Needed for 2023 Nest
my:

# Media source integration platform allows integrations to expose media for use inside Home Assistant through the Media Browser panel or
# through supported media players like Google Cast.
media_source:

############################################################
#
# Components
#
############################################################

# Track the sun.
sun:
  # elevation: !secret elevation

#################################################
# Text to speech.
tts:
  - platform: google_translate
    service_name: google_translate_say

#################################################
# Use external MQTT broker.
mqtt:
  binary_sensor: !include_dir_merge_list includes/mqtt/binary_sensors/
  cover: !include_dir_merge_list includes/mqtt/covers/
  sensor: !include_dir_merge_list includes/mqtt/sensors/
  switch: !include_dir_merge_list includes/mqtt/switches/
  light: !include_dir_merge_list includes/mqtt/lights/

#################################################
# Push notification providers.
notify:
  - name: Google Cloud Notify
    platform: html5
    # gcm_api_key: !secret gcmKey
    # gcm_sender_id: !secret gcmID
    vapid_pub_key: !secret vapid_pub_key
    vapid_prv_key: !secret vapid_prv_key
    vapid_email: !secret vapid_email

#################################################
# Device trackers.
device_tracker:
  # - platform: owntracks
  #   max_gps_accuracy: 250

  - platform: google_maps # Elements per day’ to a limit of 645.
    username: !secret google_maps_username
  # - platform: google_maps # Elements per day’ to a limit of 645.
  #   username: !secret google_maps_username2 # Removed second account, due to moving to using the HA Android App
  # Example configuration.yaml entry

# password: !secret google_maps_password
# - platform: googlehome
#   host: !secret google_home_hub_ip

# - platform: ping
#   hosts:
#     hostone: 192.168.1.16
# - platform: snmp
#   host: 192.168.1.1
#   community: public
#   baseoid: 1.3.6.1.2.1.2.2

# RFLink gateway integration, via ethernet bridge.
#     Try socat pty,link=/config/serialport-rflink,echo=0 tcp:x.x.x.x:xxxx,forever,reuseaddr,keepalive,keepidle=10,keepintvl=10,keepcnt=2
#       https://github.com/home-assistant/core/issues/23577
#         Will not work, as socat is not in HASSIO!

#################################################
rflink:
  host: !secret RF_Link_IP
  port: !secret RF_Link_Port
  wait_for_ack: true
  reconnect_interval: 10 # seconds
  tcp_keepalive_idle_timer: 600 # seconds
  # ignore_devices:
  # - owl_cm113_ead1_current3
  # - owl_cm113_ead1_current1
  # - ev1527_*
  # - wh3_*
  # - wt122*
  # # - sensor.owl_cm113_ea7f_current2
  # # - sensor.owl_cm113_ea7f_current3
  # # - sensor.owl_cm113_ea9f_current2
  # # - sensor.owl_cm113_ea9f_current3
  # # - sensor.owl_cm130_007f_kwatt

  # - sensor.v2phoenix_*
  # - light.drayton_*
  # - light.elrodb_*
  # - light.mertik_*
  # - light.drayton_*
  # - light.btf_*
  # - light.v2phoenix*

# Define values that can be controlled via the frontend and can be used within conditions of automation
# Needed for kloggy/HA-Irrigation-Version2 https://github.com/kloggy/HA-Irrigation-Version2/blob/master/Pre-Requisites.md
input_text:
  notifications_user1_name:
    min: 0
    max: 20
  notifications_user2_name:
    min: 0
    max: 20

#   #################################################
#   # Google Assistant integration.
#   # Fallback for re-linking hass ass
# google_assistant:
#   project_id: home-ass-40452
#   service_account: !include SERVICE_ACCOUNT.JSON
#   report_state: true
#   expose_by_default: false
#   entity_config:
#     light.guest_bedroom_lamp_left:
#       expose: true

# #################################################
# # Google Assistant integration.
# # Fallback for re-linking
# google_assistant:
#   project_id: hassio-214617
#   service_account: !include private/google_assistant_report_state_hassio_214617.json
#   report_state: true
#   expose_by_default: false
#   entity_config:
#     light.guest_bedroom_lamp_left:
#       expose: true

#################################################
# Google Assistant integration.
# Every now and again have to visit this link and click TEST: https://console.actions.google.com/project/hassio-214617/accountlinking/
google_assistant:
  project_id: hassio-214617
  # secure_devices_pin: !secret google_assistant_secure_devices_pin
  service_account: !include private/google_assistant_report_state_hassio_214617.json #Orginal
  # service_account: !include private/hassio-214617-7641f87252da.json # new
  # service_account: !include SERVICE_ACCOUNT2.JSON # test
  report_state: true
  # expose_by_default: false # Expose devices in all supported domains by default. If exposed_domains domains is set, only those domains are exposed by default.
  entity_config: !include_dir_named includes/google_assistant_entity_config.yaml
  exposed_domains: # This has no effect if expose_by_default is set to false.
    - switch
    - fan
    - light
    - lock
    - cover
    - camera
    - script
    - scene
    - sensor
    - climate

# - alarm_control_panel
# - group
# - input_boolean
# - input_select
# - humidifier
# - vacuum
# - media_player

#################################################
# Proxy video live streams through Home Assistant
stream:
  # ll_hls: true
  # part_duration: 1.5
  # segment_duration: 10

#################################################

# utility_meter:
#   energy_cumulative_month:
#     source: sensor.esp_doorbell_elec_mon_house_power_meter
#     cycle: monthly
#     # tariffs:
#     #   -
#   energy_cumulative_daily:
#     source: sensor.esp_doorbell_elec_mon_house_power_meter
#     cycle: daily

# # https://github.com/bramstroker/homeassistant-powercalc
# powercalc:
#   scan_interval: 00:01:00 #Each minute
#   power_sensor_naming: "{} Powersensor"
#   create_energy_sensors: false

############################################################
#
# Includes
# Merge named https://home-assistant.io/docs/configuration/splitting_configuration/
#
############################################################

# Single Files
zone: !include includes/zone.yaml
shell_command: !include includes/shell_commands.yaml
automation: !include automations.yaml # Cannot change location or filename as the automations editors only creates here!
script: !include scripts.yaml

# Merge List
# automation old: !include_dir_merge_list includes/automation
sensor: !include_dir_merge_list includes/sensors
light: !include_dir_merge_list includes/lights
binary_sensor: !include_dir_merge_list includes/binary_sensors
switch: !include_dir_merge_list includes/switch
cover: !include_dir_merge_list includes/cover
# camera: !include_dir_merge_list includes/cameras
template: !include_dir_merge_list includes/template

# Merge named dir
# script: !include_dir_merge_named includes/scripts
input_boolean: !include_dir_merge_named includes/input_boolean
input_select: !include_dir_merge_named includes/input_select
input_number: !include_dir_merge_named includes/input_number
rest_command: !include_dir_merge_named includes/rest_commands

# # Merge Named
# group: !include includes/groups.yaml

# https://www.home-assistant.io/integrations/alert/
alert: !include includes/alert.yaml

scene: !include scenes.yaml
