##############################################################
# ESPHome Device Base Configuration
# Shared configuration for all ESPHome devices
# Repository: https://github.com/genestealer/Home-Assistant-Configuration
##############################################################

esphome:
  name: ${name}
  comment: ${ui_comment}

  # Device friendly name for Home Assistant
  friendly_name: "${friendly_name}"

##################################
# Logging & Debugging
##################################
logger:
  level: ${log_level}

##################################
# Home Assistant API
##################################
api:
  encryption:
    key: !secret esphome_api_encryption_key
  reboot_timeout: 1h

##################################
# OTA Updates
##################################
ota:
  password: !secret esphome_ota_pass
  platform: esphome

##################################
# Safe Mode (Prevents Boot Loops)
##################################
safe_mode:
  boot_is_good_after: 2min
  reboot_timeout: 10min
  num_attempts: 5

##################################
# Restart Button
##################################
button:
  - platform: restart
    name: "Restart"
    device_class: restart
    entity_category: "diagnostic"

##################################
# Device Availability
##################################
binary_sensor:
  - platform: status
    name: "${name} Status"
    device_class: connectivity
    entity_category: "diagnostic"


##################################
# System Metrics (Uptime)
##################################
sensor:
  - platform: uptime  
    name: "Uptime"
    update_interval: ${wifi_sensor_update_interval}
    device_class: duration
    state_class: measurement
    unit_of_measurement: "hours"
    filters:
      - lambda: return x / 3600.0;
    accuracy_decimals: 2
    entity_category: "diagnostic"

# ##################################
# # ESPHome Version
# ##################################
# text_sensor:
#   - platform: version
#     name: "ESPHome Version"
#     entity_category: "diagnostic"

