##############################################################
# ESPHome Device Base - Wi-Fi Configuration
# Shared Wi-Fi settings for all ESPHome devices
# Repository: https://github.com/genestealer/Home-Assistant-Configuration
##############################################################

wifi:
  reboot_timeout: 5min  # Restart ESP if Wi-Fi fails to connect
  networks:
    - ssid: !secret IoT_VLAN_SSID
      password: !secret IoT_VLAN_SSID_Key
      manual_ip:
        static_ip: ${ip}
        gateway: ${gateway}
        subnet: ${subnet}

  # Uncomment and add a secondary Wi-Fi network as a backup
  # - ssid: !secret IoT_VLAN_SSID_2
  #   password: !secret IoT_VLAN_SSID_Key_2
  #   manual_ip:
  #     static_ip: ${ip}
  #     gateway: ${gateway}
  #     subnet: ${subnet}


##################################
# Wi-Fi Info
##################################
text_sensor:
  - platform: wifi_info
    ip_address:
      name: "${name} IP"
      icon: "mdi:ip-network-outline"
      entity_category: "diagnostic"
      update_interval: ${wifi_sensor_update_interval}
    mac_address:
      name: "${name} MAC"
      icon: "mdi:access-point-network"
      entity_category: "diagnostic"
    ssid:
      name: "${name} SSID"
      icon: "mdi:wifi"
      entity_category: "diagnostic"
    bssid:
      name: "${name} BSSID"
      icon: "mdi:access-point-network"
      entity_category: "diagnostic"
      update_interval: ${wifi_sensor_update_interval}


##################################
# Wi-Fi Signal Strength
##################################
sensor:
  - platform: wifi_signal # Reports the WiFi signal strength/RSSI in dB
    name: "${name} RSSI"
    id: wifi_signal_db
    update_interval: ${wifi_sensor_update_interval}
    device_class: signal_strength
    state_class: measurement
    entity_category: "diagnostic"

  - platform: copy # Reports the WiFi signal strength in %
    name: "${name} Wi-Fi Signal"
    source_id: wifi_signal_db
    id: wifi_signal_strength
    filters:
      - lambda: return min(max(2 * (x + 100.0), 0.0), 100.0);
    unit_of_measurement: "%"
    entity_category: "diagnostic"
    icon: "mdi:wifi-strength-4"
