##############################################################
# Richard Huish 2025
# ESPHome Configuration - Busy Light & Logitech Z-5500 Remote
# Repository: https://github.com/genestealer/Home-Assistant-Configuration
#
# Description:
# This ESPHome configuration controls a busy light indicator and 
# infrared remote functionality using an M5Stack Atom ESP32.
# The system integrates with Home Assistant and allows remote control
# of a Logitech Z-5500 speaker system.
#
# Includes shared configurations from the 'common' directory
#
# Features:
# - Neopixel LED Busy Light for presence indication.
# - Infrared remote transmitter for controlling Logitech Z-5500.
# - Optimized ESP32 setup with GPIO voltage compensation.
# - Wi-Fi connectivity for Home Assistant integration.
#
# Hardware:
# - M5Stack Atom ESP32 (Wi-Fi Microcontroller)
# - M5Stack Mini Infrared Emitter & Receiver Unit (IR Transmission)
# - SK6812 Neopixel RGB LED (Presence Indicator)
#
##############################################################

# Substitutions - Easily Configurable Parameters
substitutions:
  # Naming & Identification
  name: busy-light-mk2-1
  friendly_name: "Busy Light 1 Mk2"
  ui_comment: "Busy Light 1 MK2 and Logitech Z-5500 Speaker Remote"

  # Network Configuration (Static IP)
  ip: 192.168.2.51
  gateway: 192.168.2.1
  subnet: 255.255.255.0

  # Debug Logging
  log_level: DEBUG

  # Sensor Update Interval
  sensor_update_interval: 1min
  wifi_sensor_update_interval: 10min

##############################################################
# Board Configuration
##############################################################
esp32:
  board: m5stack-atom
  framework:
    type: esp-idf

##############################################################
# Import Shared Code (Common Components)
##############################################################
packages:
  device_base: !include common/device_base.yaml
  wifi: !include common/device_base_wifi.yaml

##############################################################
# Sub-Devices (group IR controls under a separate device)
##############################################################
esphome:
  # Sub-device for Logitech Z-5500 IR remote controls
  devices:
    - id: z5500_remote
      name: "Logitech Z-5500 Remote"
  # Ensure the config compiles on versions that support sub-devices
  min_version: "2025.10.0"

##############################################################
# Hardware Configuration
##############################################################

# Countermeasure for CH552 GPIO0 Overvoltage Issue
# The CH552 applies 4V to GPIO0, which reduces Wi-Fi sensitivity.
# This fix applies a bias of 3.3V to suppress overvoltage and 
# maintain Wi-Fi performance.
output:
  - platform: gpio
    id: wifi_fix_output
    pin: GPIO0

# Neopixel RGB LED (Busy Light)
# Neopixel RGB LED (Busy Light) - use ESP32 RMT driver (ESP-IDF compatible)
light:
  - platform: esp32_rmt_led_strip
    pin: 27
    num_leds: 1
    name: "Busy Light"
    id: busy_light
    chipset: SK6812
    rgb_order: GRB

# I2C Bus Configuration
i2c:
  sda: 25
  scl: 21
  #scan: true
  #frequency: 200kHz

# Infrared Transmitter Configuration
remote_transmitter:
  pin: 26  # IR transmitter output
  carrier_duty_percent: 50%

##############################################################
# Infrared Remote Control for Logitech Z-5500
##############################################################

# https://community.home-assistant.io/t/ir-change-in-nec-what-do-i-need-to-do/365840/26?page=2

# 0xF708 address (for all codes!)
# 0xEF10 power command
# 0xE51A vol up command
# 0xF10E vol dn command
# 0xFA05 test command
# 0xF50A direct command
# 0xF40B optical command
# 0xF30C coax command
# 0xE21D effect command
# 0xE01F settings command
# 0xFC03 sub up command
# 0xFE01 sub dn command
# 0xFD02 center up command
# 0xF906 center dn command
# 0xFF00 surround up command
# 0xFB04 surround dn command
# 0xE916 mute command

button:
  - platform: template
    name: "Power"
    device_id: z5500_remote
    on_press:
      - remote_transmitter.transmit_nec:
          address: '0xF708'
          command: '0xEF10'
          repeat:
            times: 1

  - platform: template
    name: "Volume Up"
    device_id: z5500_remote
    on_press:
      - remote_transmitter.transmit_nec:
          address: '0xF708'
          command: '0xE51A'
          repeat:
            times: 1 

  - platform: template
    name: "Volume Down"
    device_id: z5500_remote
    on_press:
      - remote_transmitter.transmit_nec:
          address: '0xF708'
          command: '0xF10E'
          repeat:
            times: 1 

  - platform: template
    name: "Test"
    device_id: z5500_remote
    on_press:
      - remote_transmitter.transmit_nec:
          address: '0xF708'
          command: '0xFA05'
          repeat:
            times: 1 

  - platform: template
    name: "Direct Input"
    device_id: z5500_remote
    on_press:
      - remote_transmitter.transmit_nec:
          address: '0xF708'
          command: '0xF50A'
          repeat:
            times: 1

  - platform: template
    name: "Optical Input"
    device_id: z5500_remote
    on_press:
      - remote_transmitter.transmit_nec:
          address: '0xF708'
          command: '0xF40B'
          repeat:
            times: 1 

  - platform: template
    name: "Coax Input"
    device_id: z5500_remote
    on_press:
      - remote_transmitter.transmit_nec:
          address: '0xF708'
          command: '0xF30C'
          repeat:
            times: 1

  - platform: template
    name: "Effects"
    device_id: z5500_remote
    on_press:
      - remote_transmitter.transmit_nec:
          address: '0xF708'
          command: '0xE21D'
          repeat:
            times: 1 

  - platform: template
    name: "Settings"
    device_id: z5500_remote
    on_press:
      - remote_transmitter.transmit_nec:
          address: '0xF708'
          command: '0xE01F'
          repeat:
            times: 1 

  - platform: template
    name: "Subwoofer Up"
    device_id: z5500_remote
    on_press:
      - remote_transmitter.transmit_nec:
          address: '0xF708'
          command: '0xFC03'
          repeat:
            times: 1 

  - platform: template
    name: "Subwoofer Down"
    device_id: z5500_remote
    on_press:
      - remote_transmitter.transmit_nec:
          address: '0xF708'
          command: '0xFE01'
          repeat:
            times: 1 

  - platform: template
    name: "Center Up"
    device_id: z5500_remote
    on_press:
      - remote_transmitter.transmit_nec:
          address: '0xF708'
          command: '0xFD02'
          repeat:
            times: 1 

  - platform: template
    name: "Center Down"
    device_id: z5500_remote
    on_press:
      - remote_transmitter.transmit_nec:
          address: '0xF708'
          command: '0xF906'
          repeat:
            times: 1 

  - platform: template
    name: "Surround Up"
    device_id: z5500_remote
    on_press:
      - remote_transmitter.transmit_nec:
          address: '0xF708'
          command: '0xFF00'
          repeat:
            times: 1 

  - platform: template
    name: "Surround Down"
    device_id: z5500_remote
    on_press:
      - remote_transmitter.transmit_nec:
          address: '0xF708'
          command: '0xFB04'
          repeat:
            times: 1 

  - platform: template
    name: "Mute"
    device_id: z5500_remote
    on_press:
      - remote_transmitter.transmit_nec:
          address: '0xF708'
          command: '0xE916'
          repeat:
            times: 1 
